body {
    text-align: center;
    margin-top: 100px;
    background-color: silver;
  }
  
  .choice-button {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(164, 212, 130);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .choice-image {
    height: 75px;
  }
  .reset{
    margin-top: 10px;
    background-color: red;
    color: black;
    border-radius: 5px;
    font-size: 27px;
  }
  .reset:hover{
    background-color: whitesmoke;
    color: blue;
  }
  h1{
    color:white;
    filter: drop-shadow( 0 0 10px);
    animation: bounce 1.5s alternate infinite;
  }
  @keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
  }